@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../files/HelveticaNeueCyr-BoldItalic.eot');
    src: local('HelveticaNeueCyr-BoldItalic'),
    url('../files/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../files/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
    url('../files/HelveticaNeueCyr-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../files/HelveticaNeueCyr-Italic.eot');
    src: local('HelveticaNeueCyr-Italic'),
    url('../files/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../files/HelveticaNeueCyr-Italic.woff') format('woff'),
    url('../files/HelveticaNeueCyr-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../files/HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'),
    url('../files/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../files/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../files/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../files/HelveticaNeueCyr-Light.eot');
    src: local('HelveticaNeueCyr-Light'),
    url('../files/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('../files/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../files/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../files/HelveticaNeueCyr-LightItalic.eot');
    src: local('HelveticaNeueCyr-LightItalic'),
    url('../files/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../files/HelveticaNeueCyr-LightItalic.woff') format('woff'),
    url('../files/HelveticaNeueCyr-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../files/HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'),
    url('../files/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../files/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../files/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



body{
    background: #E5E5E5!important;
}
header, footer {
    position:relative;
    width: 100%;
    height: 55px;
    color: #FFFFFF;
    background-color: #285853;
    line-height: 55px;
}
header a {
    margin-left: 5px;
    margin-right: 5px;
}

.to-right {
    float: right;
}
.logo {
    position: absolute;
    padding: 5px;
    margin: 0 5px;
    height: 100%;
    box-sizing: border-box;
    z-index:5;
}

.omni {
    position: absolute;
    left:5%;
    top: 25%;
    font-weight: 300;
    font-size:24px;
}

footer {
   width:100%;
    margin:0;
    padding:0;
    bottom:0;
}

.to-right a{
    color:white!important;
}
.to-right a:hover{
    background: #285853;
}
.board_title{
    width:100%;
    padding:7px 10%;
}
.board-body{
    width:98%;
    margin:0 1%;
    background:white!important;
    min-height:3vh!important;
    border-radius:2px;
}
.board-body span{
    float:left;
    margin:5px;
}

a,button:active {
    transform: translateY(1px);
}




.board_button{
    width:100%;
    background:#3F937E!important;
    color:white!important;
    border-radius: 8px!important;
    padding:1.5% 5%!important;
}


#content{
    min-height:calc(100vh - 111px);
}

footer a{
    float:left;
    padding-left: 1vw;
    color:white;
}
footer a:hover{
    text-decoration: none;
    color:#F7C44F;
}

@media (max-width: 760px) {

    header a{
        font-size:14px!important;
    }
    .omni {
        left:14%;
        top:33%;
        font-size:18px;
    }

    .board_title{
        width:100%;
        padding:5px 0;

    }
    .board_button{
        padding:10px!important;
        border-radius:5px!important;
    }
    .board-body {
        width: calc(100% - 24px);
        margin: 0 12px;
    }
}