
body{
    background: #f2f2f2!important;

}
header, footer {
    position:relative;
    width: 100%;
    height: 60px;
    color: #00f4d9;
    background-color: #2e3038;
    line-height: 55px;
}
header a {
    margin-left: 5px;
    margin-right: 5px;
}

.to-right {
    float: right;
}
.logo {
    position: absolute;
    padding: 5px;
    margin: 0 5px;
    height: 100%;
    box-sizing: border-box;
    z-index:5;
}

.omni {
    position: absolute;
    left:5%;
    top: 25%;
    font-weight: 300;
    font-size:24px;
}

footer {
   width:100%;
    margin:0;
    padding:0;
    bottom:0;
    position: absolute;
}

.to-right a{
    color:white!important;
}
.to-right a:hover{
    background: #285853;
}

.cards{
    width:17%;
    margin: 0 0.5%;
    height:280px;
    border-radius: 15px;
    position: absolute;
    transition: transform 500ms;
    background:white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.cards:hover, .cards:active, .cards:focus{
   transform: translateY(-15px);
}

.cards p{
    text-align: center;
    font-size: 2vw;
}
.cards img{
    width:90%;
}
#content{
    min-height:100vh;
    margin:0;
    position: relative;
}

#identity{
    left:5%;
    top:12%;
    transform: rotate(-11deg);
   background:white;
}

#certificate{
    left:20%;
    top:22%;
    transform: rotate(-5deg);
  /*  background: #00f4d9;*/

}
#bank_cards{
    left:42%;
    top:5%;
    transform: rotate(8deg);
  /*  background: #ff4a5a;*/
}
#tickets{
    background: white;
    transform: rotate(-11deg);
    top:25%;
    left:54%;

}

#other{
    left:71%;
    top:9%;
    transform: rotate(6deg);
 /*  background: #00f4d9;*/
}

#identity:hover,#identity:focus,#tickets:hover,#tickets:focus{
    -webkit-animation-name: h_thumb;
    -webkit-animation-duration: 800ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
    -webkit-animation-timing-function: linear;
    transition: transform 500ms;
}
@-webkit-keyframes h_thumb {
    0% { -webkit-transform: rotate(-11deg); }
    25%{-webkit-transform: rotate(-7deg); }
    50% { -webkit-transform: rotate(-12deg); }
    75% { -webkit-transform: rotate(-15deg); }
    100% { -webkit-transform: rotate(-11deg); }
}
#certificate:hover,#certificate:focus{
    -webkit-animation-name: c_thumb;
    -webkit-animation-duration: 800ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
    -webkit-animation-timing-function: linear;
    transition: transform 500ms;
}
@-webkit-keyframes c_thumb {
    0% { -webkit-transform: rotate(-5deg); }
    25%{-webkit-transform: rotate(-9deg); }
    50% { -webkit-transform: rotate(-4deg); }
    75% { -webkit-transform: rotate(-1deg); }
    100% { -webkit-transform: rotate(-5deg); }
}

#bank_cards:hover,#bank_cards:focus{
    -webkit-animation-name: b_thumb;
    -webkit-animation-duration: 800ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
    -webkit-animation-timing-function: linear;
    transition: transform 500ms;
}
@-webkit-keyframes b_thumb {
    0% { -webkit-transform: rotate(8deg); }
    25%{-webkit-transform: rotate(12deg); }
    50% { -webkit-transform: rotate(7deg); }
    75% { -webkit-transform: rotate(4deg); }
    100% { -webkit-transform: rotate(8deg); }
}

#other:hover,#other:focus{
    -webkit-animation-name: o_thumb;
    -webkit-animation-duration: 800ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
    -webkit-animation-timing-function: linear;
    transition: transform 500ms;
}
@-webkit-keyframes o_thumb {
    0% { -webkit-transform: rotate(6deg); }
    25%{-webkit-transform: rotate(10deg); }
    50% { -webkit-transform: rotate(5deg); }
    75% { -webkit-transform: rotate(2deg); }
    100% { -webkit-transform: rotate(6deg); }
}



a,button:active {
    transform: translateY(1px);
}

footer a{
    float:left;
    padding-left: 1vw;
   color: white;
}
footer a:hover{
    text-decoration: none;
     color:#00f4d9;
}

@media (max-width: 760px) {

    header a{
        font-size:14px!important;
    }
    .omni {
        left:14%;
        top:33%;
        font-size:18px;
    }


}