
@media (min-width: 768px) {
  .instruction:not(:last-child):after {
    content: url('../images/arrow.png');
    transform: scale(0.3);
    position:absolute;
    display: block;
    right: -150px;
    top: 0;
  }
