body{
    background-image: linear-gradient(white 0%, rgb(255,223,226)45%,#ff4a5a 100%)!important;
}

.wrapper{
    position: relative;
    min-height: 100vh;
}

header, footer {
    position:relative;
    width: 100%;
    height: 60px;
    color: #00f4d9;
    background-color: #2e3038;
    line-height: 55px;
}

header a {
    margin-left: 5px;
    margin-right: 5px;
}

.to-right {
    float: right;
}

.logo {
    float: left;
    padding: 5px;
    height: 100%;
    box-sizing: border-box;
}

.user {
    padding: 10px;
    height: 60px;
    box-sizing: border-box;
}

.logo:hover{
    -webkit-animation: round 1500ms infinite;
    -webkit-animation-duration: 1200ms;
    -webkit-animation-delay: 500ms;
    -webkit-animation-timing-function: linear;
    transition: rotate 2200ms;
}

@-webkit-keyframes round {
    0% { -webkit-transform: rotate(0deg);}
    25%{ -webkit-transform: rotate(-25deg);}
    50% { -webkit-transform:  rotate(0);}
    75% { -webkit-transform: rotate(180deg);}
    90% { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(360deg); }
}

.omni {
    float: left;
    line-height: 60px;
    font-weight: 300;
    font-size:20pt;
    margin: 0;
    padding: 0 5px;
}

#content{
    background: url("../images/mazefulltrans.png") !important;
    background-size: 50%!important;
    text-align: center;
    min-height:calc(100vh - 120px);
    overflow: auto;
    position: relative;
    padding-bottom: 60px;
}

footer {
    position: absolute;
    width:100%;
    padding: 10px;
    bottom:0;
}

footer a{
    float:left;
    margin-left: 10px;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.btn:hover{
    transition: 500ms;
}

.btn-danger{
    background-color: #ff4a5a!important;
    color:white!important;
    border-color:  #ff4a5a!important;
}

.btn-danger:hover{
    transition: transform 600ms;
    transform: scale(1.1);
}

.btn-outline-danger:hover{
    background-color: #ff4a5a!important;
}

.btn-outline-info{
    color:#00f4d9!important;
    border-color: #00f4d9!important;
}

.btn-outline-info:hover{
    color: white!important;
    background-color: #00f4d9!important;
    transition: 500ms;
}

.btn-info{
    background-color:#00f4d9!important;
    border-color: #00E5CA!important;
}

.btn-info:hover{
    border-color: #00D6BD!important;
    transition: transform 600ms;
    transform: scale(1.1);
}
