body{
    background-image: linear-gradient(white 0%, rgb(255,223,226)65%,#ff4a5a 100%)!important;
}

.wrapper{
    position: relative;
    min-height: 100vh;
}

header, footer {
    position:relative;
    width: 100%;
    height: 60px;
    color: #00f4d9;
    background-color: #2e3038;
    line-height: 55px;
}

header a {
    margin: 0 5px;
}

.to-right {
    float: right;
}

.logo {
    position: absolute;
    padding: 5px;
    margin: 0 5px;
    height: 100%;
    box-sizing: border-box;
    z-index:5;
}

.omni {
    position: absolute;
    left:5%;
    top: 25%;
    font-weight: 300;
    font-size:24px;
}

#content{
    background: url("../images/mazefulltrans.png") !important;
    background-size: 50%!important;
    text-align: center;
    min-height:calc(100vh - 120px);
    overflow: auto;
    position: relative;
}

footer {
    position: absolute;
    width:100%;
    padding: 5px;
    bottom:0;
}

footer a{
    float:left;
    padding: 1% 3%!important;
    margin-left: 5% !important;
    transition: 500ms;
}

footer a:hover, footer a:focus{
    text-decoration: none;
    background:  #00f4d9 !important;
    color: white!important;
    transition: 500ms;
}

.btn:hover{
    transition: 500ms;
}

.to-right a:hover{
    background: #285853;
}

.btn-danger{
    background-color: #ff4a5a!important;
    color:white!important;
    border-color:  #ff4a5a!important;
}

.btn-danger:hover{
    transition: transform 600ms;
    transform: scale(1.1);
}


.btn-outline-danger:hover{
    background-color: #ff4a5a!important;
}

.btn-outline-info{
    color:#00f4d9!important;
    border-color: #00f4d9!important;
}

.btn-outline-info:hover{
    color: white!important;
    background-color: #00f4d9!important;
    transition: 500ms;
}

.btn-info{
    background-color:#00f4d9!important;
    border-color: #00E5CA!important;
}

.btn-info:hover{
    border-color: #00D6BD!important;
}
