
a,button:active {
	transform: translateY(1px);
}

#get_started{
	width:60%;
	margin:0 20%;
	padding:30px;
	text-align: center;
	border-radius: 15px;
	background:#2e3038;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
	color: #00f4d9;

	font-size:28px;
}

#get_started a{
	font-size:22px;
	margin-left:10px;
	margin-right:10px;
	padding:6px 20px;
	background: #ff4a5a!important;
	color:white!important;
	border-color: #ff4a5a!important;
	transition: transform 600ms;

}

#get_started a:hover{
	transition: transform 600ms;
	transform: scale(1.1);
}

#simple_instructions{
	width:80%;
	margin:0 10%;
}

#simple_instructions img{
	width:100%;

}

#simple_instructions div{
	display: inline-block;
	width:25%;
}

#simple_instructions p{
padding:2px 8px;
	border-radius:8px;
	background: #2e3038;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
	color: white;
	margin-top:5px;
	font-size: 23px;

}

.arrow{
	width:10%!important;
	margin-bottom:25%;
	-webkit-animation-name: move;
	-webkit-animation-duration: 1000ms;
	-webkit-transform-origin:20% 80%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	transition: translateX 1000ms;
}

@-webkit-keyframes move {
	0% { -webkit-transform: translateX(0); }
	25%{-webkit-transform:  translateX(7px);}
	50% { -webkit-transform:  translateX(15px);}
	75% { -webkit-transform:  translateX(7px);}
	100% { -webkit-transform: translateX(0); }
}

@media (max-width: 760px) {

	header a{
		font-size:14px!important;
	}
	.omni {
		left:14%;
		top:33%;
		font-size:18px;
	}

	#get_started {
		width: 80%;
		margin: 0 10%;
		font-size:20px;
	}
	#get_started a{
		font-size:20px;
		margin:5px 5px;
		padding:6px 20px;

	}

	#simple_instructions p{
		font-size:25px;
	}

	#simple_instructions div{
		width:80%;
		margin: 20px 10%;
	}

	.arrow{

		margin:0 0 0 37%;
		transform:rotate(90deg);
		width:25%!important;
	}
}



