
@media (min-width: 768px) {
  .instruction:not(:last-child):after {
    content: "⇨";
    position: absolute;
    top: 0;
    display: block;
    font-size: 10vw;
    right: -12%;
color:#285853;
  }
}