.profile-card{
    display: inline-block;
    margin: 20px 0;
    padding: 10px;
    width: 60%;
    border-radius:8px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

.frame{
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
}

.profile-pic{
    width: 200px;
    border-radius: 50%;
}

.info{
    padding: 10px;
    width: 50%;
    height: 100%;
    display: inline-block;
    text-align: left;
}

p{
    margin: 10px 0!important;
}

.buttons{
    clear: both;
}

.buttons .btn{
    margin: 5px 0;
}

.user-name{
    font-weight: bold;
    font-size: 16pt;
}

@media (max-width: 768px){

    .frame{
        display: block;
        width: 100%;
    }

    .info{
        width: 100%;
    }

    .profile-card{
        width: 90%;
    }

    .profile-pic{
        width: 150px;
    }
}