
body{
    background-image: linear-gradient(to right,#ff4a5a 0%, rgb(255,223,226)35%,white 50%,rgb(255,223,226)65%,#ff4a5a 100%)!important;

    margin:0;
    min-height: 100vh;
}


.head_p{
    background-color: #2e3038;
    height:3em;
    text-align: center;
    padding: 18px 15px 15px 15px;
    font-size: 25px;
    color:#00f4d9;

}
.done_button{
background: #00f4d9!important;

}
#check_button{
    background: #ff4a5a!important;
}
input:focus,textarea:focus ,select:focus{
    box-shadow: 0 0 5px #00f4d9!important;
    border: 1px solid #00f4d9!important;
}

#content{
    width:100%;
    min-height:100vh;
    background: url("../images/mazefulltrans.png") !important;
    background-size: 40%!important;
    overflow: auto;
}
#table{

    overflow: hidden;
    margin: 5% 25% 2% 25%;
    width:50%;
    border-radius: 15px;
    background:white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#checking_fail_message{
    text-align:center;
    padding:3% 1%;
    color:#ff4a5a;
    font-weight:bold;
    border: 1px solid #ff4a5a;
    border-radius:7px;
    box-shadow: 0 0 5px #ff4a5a;
   display: none;
}

#blank{
    width:100%;
    padding: 2% 10%;
}

#blank p,input{
    margin-top:2%;
    width:100%;
}

#blank a,button{
    color:white!important;
    width:44%;
    padding:2% 3%!important;
    margin:2% 3% 0 2% !important;
    min-width:10em;
    font-size: 20px;
    transition: transform 600ms;
}
a:hover{
    text-decoration: none;
    transform: scale(1.1);
    transition: transform 600ms;
}


#imgp{
    padding:0;
    margin:0;
}

#imgp img{
    padding:3%;
    width:94%;
}

@media (max-width: 760px){
    header p{
        font-size:30px;
    }

    body{
        padding:4%;
    }
    #table{
        margin:0;
        width:100%;
    }
    #blank a,button{
         width:96%;
    }
}

.bouncy{
    -webkit-animation:bouncy 5s infinite linear;
    -moz-animation:bouncy 5s infinite linear;
    -o-animation:bouncy 5s infinite linear;
    animation:bouncy 5s infinite linear;
    position:relative;
    background: transparent;
}

@keyframes bouncy {
    0% {top: 0;}
    40% {top: 0;}
    43% {top: -0.9em;}
    46% {top: 0;}
    48% {top: -0.4em;}
    50% {top: 0;}
    100% {top: 0;}
}

